.container {
    padding-top: 20px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--white);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: end;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-right: 26px;
    padding-left: 10px;
    position: relative;
}

input::placeholder {
    color: var(--light-gray-2-rgba);
    font-size: 14px;
    font-style: italic;
}

.search #icon-search {
    width: 20px;
    right: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    pointer-events: none;
}

.search button {
    width: 200px;
    height: 40px;
    background-color: var(--primary);
    color: var(--light-gray-3);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

img {
    width: 253px;
    height: 44px;
    color: red !important;
}

.search .carrinho {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.carrinho span {
    top: 0px;
    right: 97px;
    width: 20px;
    height: 20px;
    display: flex;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.navegacao {
    height: 15vh;
    padding-left: 88px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navegacao ul {
    gap: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: start;
}