:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;

  --primary-rgba: rgba(201, 32, 113, 1);
  --secondary-rgba: rgba(181, 182, 242, 1);
  --Tertiary-rgba: rgba(153, 25, 86, 1);
  --error-rgba: rgba(238, 66, 102, 1);
  --success-rgba: rgba(82, 202, 118, 1);
  --warning-rgba: rgba(246, 170, 28, 1);
  --primary-gradient: linear-gradient(90deg, rgba(201, 32, 113, 1) 0%, rgba(rgba(237, 171, 202, 1)) 100%);
  --secondary-gradient: linear-gradient(90deg, rgba(181, 182, 242, 1) 0%, rgba(239, 239, 255, 1) 100%);
  --dark-gray-rgba: rgba(31, 31, 31, 1);
  --dark-gray-2-rgba: rgba(0, 0, 0, 0.15);

  --light-gray-rgba: rgba(143, 143, 143, 1);
  --light-gray-2-rgba: rgba(0, 0, 0, 0.15);
  --light-gray-3-rgba: rgba(245, 245, 245, 1);
  --white-rgba: rgba(255, 255, 255, 1);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--dark-gray);
  background-color: var(--light-gray-3);
  font-family: 'Poppins', sans-serif;
}

.primary-button {
  width: 114;
  height: 40;
  border-radius: 8px;
  color: var(--primary)
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-gray);
  white-space: nowrap;
}

a:hover {
  color: var(--dark-gray);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
 
}

ul  li {
  margin-bottom: 1px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

hr{
  max-width: 1300px;       
  margin: 0 auto;     
  border: 0.5px solid white; 
}